//Colors
$DarkBlue1: hsl(217, 28%, 15%);
$DarkBlue2: hsl(218, 28%, 13%);
$DarkBlue3: hsl(216, 53%, 9%);
$DarkBlue4: hsl(219, 30%, 18%);

$Cyan: hsl(176, 68%, 64%);
$Blue: hsl(198, 60%, 50%);
$LightRed: hsl(0, 100%, 63%);

$White: hsl(0, 0%, 100%);
$LightGrey: #9f9f9f;

//Fonts
$Raleway: "Raleway", sans-serif;
$OpenSans: "Open Sans", sans-serif;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: $DarkBlue1;
  overflow-x: hidden;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.primaryHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4rem 4rem;
}

.primaryNav {
  &__tabs {
    display: flex;
    color: $White;
    font-family: $Raleway;
    font-weight: 400;
    gap: 3rem;
  }
}

.getStarted {
  margin: 0 auto;
  text-align: center;
  font-family: $Raleway;
  color: $White;
  padding: 0rem 2.5rem;

  &__heroImg {
    margin-bottom: 4rem;

    img {
      max-width: 570px;
      width: 100%;
    }
  }

  &__title {
    font-size: 2.75rem;
    font-weight: 700;
    margin-bottom: 2rem;
  }

  &__subtitle {
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 2rem;
    line-height: 30px;
  }

  &__btn {
    padding: 1rem 5rem;
    cursor: pointer;
    background: linear-gradient(90deg, $Cyan, transparent), $Blue;
    color: $White;
    font-size: 1rem;
    font-weight: 400;
    font-family: $Raleway;
    outline: none;
    border: none;
    border-radius: 40px;
  }
}
.waveBg {
  background-image: url(/images/bg-curvy-desktop.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  /* display: block; */
  height: 46vh;
  margin-top: -13rem;
}
.features {
  background: $DarkBlue2;
  position: relative;
  padding-bottom: 3rem;

  &__gridWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: $White;
    gap: 3rem;
    font-family: $Raleway;
    padding: 0 5rem;
  }

  &__gridElement {
    text-align: center;
  }

  &__gridImg {
    margin-bottom: 1.25rem;
  }

  &__title {
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }

  &__desc {
    font-size: 0.938rem;
    margin-bottom: 1rem;
    line-height: 20px;
  }
}

.stayProductive {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem 4rem;
  background: $DarkBlue2;
  gap: 3rem;
  color: $White;
  font-family: $Raleway;

  &__title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    line-height: 50px;
  }

  &__desc {
    line-height: 25px;
    margin-bottom: 1rem;
  }

  &__btnWrapper {
    position: relative;
    width: 100%;
    max-width: 165px;

    &::after {
      content: "";
      position: absolute;
      width: 95%;
      height: 1px;
      background: $Cyan;
      margin-top: 0.5rem;
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    background: none;
    border: none;
    margin-top: 2rem;
    color: $Cyan;
    font-family: $Raleway;
    font-size: 1rem;
  }
}

.testimonials {
  background: $DarkBlue2;
  padding: 2rem 4rem;
  margin: 0 auto;
  color: $White;
  font-family: $Raleway;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    isolation: isolate;
  }

  &__card {
    width: 100%;
    max-width: 400px;
    padding: 2rem 1rem;
    background: $DarkBlue1;
    font-size: 0.938rem;
    line-height: 25px;
    border-radius: 10px;
    
    &:nth-child(1) {
      position: relative;
      &::after {
        position: absolute;
        content: url("/images/bg-quotes.png");
       inset: -3.25rem -1rem;
        font-size: 10rem;
        z-index: -1;
      }
    }
  }

 

  &__desc {
    margin-bottom: 1.5rem;
  }

  &__author {
    display: flex;
    gap: .5rem;
    align-items: center;

    img {
      width: 100%;
      max-width: 30px;
      height: 100%;
      border-radius: 50%;
    }
  }

  &__authorDetails {
    display: flex;
    flex-direction: column;
    gap: .25rem;
    line-height: 10px;
    p {
      color: $White;
      // line-height: 5px;
      font-weight: 700;
      font-size: 0.75rem;
    }

    span {
      font-size: 0.5rem;
    }
  }
}

.access {
  background: $DarkBlue2;
  padding: 4rem 0;
  color: $White;
  font-family: $Raleway;
  
  &__wrapper {
    text-align: center;
    background: $DarkBlue1;
    padding: 2rem 3rem;
    margin: 0 auto;
    width: clamp(30em, 70%, 900px);
    border-radius: 15px;
    box-shadow: 6px 10px 14px 0px hsla(0, 0%, 0%, 0.28);
  }

  &__title {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
  
  &__desc {
    font-size: .75rem;
    line-height: 20px;
  }

  &__form {
    margin-top: 2rem;
    width: 100%;

    input {
      width: 100%;
      padding: 1rem 1rem;
      border-radius: 30px;
      outline: none;
      border: none;

      &::placeholder {
        color: $LightGrey;
      }
    }
  }

  &__btn {
    // margin-top: 2rem;
    padding: 1rem 3rem;
    cursor: pointer;
    background: linear-gradient(90deg, #65e2d9, transparent), #339ecc;
    color: white;
    font-size: .75rem;
    font-weight: 400;
    font-family: "Raleway", sans-serif;
    outline: none;
    border: none;
    border-radius: 40px;
    max-width: 210px;
    width: 100%;
    
  }

  &__inputWrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    // align-items: center;

    div:nth-child(1) {
      width: 70%;
    }
  }
}

.footer {
  background: $DarkBlue3;
  padding: 2rem 3rem;
  color: $White;
  font-family: $Raleway;

  &__locationWrapper {
    display: flex;
    gap: 1rem;
  }

  &__location {
    width: 20px;
    height: 100%;
  }


  &__contactWrapper {
    a {
      text-decoration: none;
      color: $White;
    }
  }


}